.topPanel{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left:5px;
    margin-bottom: 0px;
    background-color: #1b4ffa;
    color:white;
    text-align: center;
}

.back{
    background-image: linear-gradient(#0019d9, #7ce7fc);
    padding-bottom: 10px;
}

.footerIn div div ul{
    text-align: center;
    list-style-type: none;
    font-size: 15px;
}
.footerIn div div h1{
    text-align: align;
    list-style-type: none;
    font-size: 17px;
}
.customButton{
    margin-right: 10px;
    background-color: #1b4ffa;
    border: 2px solid #1b4ffa;
    color: white;
}

.customButton:hover {
    background-color: #3fa7e4;
    border: 2px solid #3fa7e4;
  }

/*This part mainly used in logic1.js.*/
#optionPart{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#optionPart input{
    margin-bottom: 20px;
}

/*Equation part of questions.*/
.equationField{
    display: inline-block;
    width: 110px;
}

/*Entry field to place answer of equation.*/
.entryFieldClass{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

/**/
.roundButton{
    color: white;
    font-size:40px;
    background-color:#0446de;
    height:65px;
    width:65px;
    border-radius: 50%;
    display: inline-block;
}

/* For white line hr tags*/
.whiteLine{
    background-color: white;
    height: 1px;
    border: 0;
}

/* For white line hr tags*/
.blueLine{
    background-color: #1b4ffa; 
    height: 1px; 
    border: 0;
}

.colorButtonBox{
    text-align:center;
    border-radius: 15px;
    margin-bottom:5px;
}


@media only screen and (max-width: 768px) {
    .carousel-caption h3{
       
            font-size: 1rem;
        
    }
    .carousel-caption p{
       
        font-size: .75rem;
    
}
    
}