<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Mind Movement</title>
</head>

<body>
    <div class="back">
        {% include 'header.html' %}

        <div class="jumbotron container" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
            <h3>About Mind Movement</h3>
            <hr>
            
            <h5>Our Goal</h5>
            <p>Our goal for this website is to keep the minds of our users sharp. We want to provide a good workout that is both mentaly beneficial and fun.</p>
            <h5>What is on this site?</h5>
            <p>Fun little games. Be sure to check them out!</p>
            <h5>How difficult and long are the games?</h5>
            <p>We strive to make our games pretty short and our difficulty is controlled by the settings you put it on or how well you do.</p>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>