<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <div class="back">
        {% include 'navbar.html' %}

        <div class="jumbotron container" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
            <h3>Contact Information</h3>
            <hr>
            <p style="color:red">Note: We don't have a means of contact. This is just placeholder information.</p>
            <h5>Adress:</h5>
            <p>XXXX Xth ST</p>
            <p>XXX, XX XXXXXX</p>
            <h5>Phone:</h5>
            <p>XXX-XXX-XXXX</p>

        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>