<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Mind Movement</title>
</head>

<body>
    <div class="back">
        {% include 'header.html' %}

        <div class="jumbotron container" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
            <h3>Contact Information</h3>
            <hr>
            <p style="color:red">Note: We don't have a means of contact. This is just placeholder information.</p>
            <h5>Adress:</h5>
            <p>XXXX Xth ST</p>
            <p>XXX, XX XXXXXX</p>
            <h5>Phone:</h5>
            <p>XXX-XXX-XXXX</p>

        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>