<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Mind Movement</title>
</head>

<body>
    <div class="back">
        {% include 'header.html' %}

        <div class="jumbotron container" style="margin-top: 10px; margin-bottom: 10px;">
            <h3>Other Content Here!</h3>
            <hr>
            <p>Maybe add a recently added carasol here later? Maybe a discription of page. Could add images too.</p>
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>
